{% extends 'base.html.twig' %}

{% block title %}Hello AssociationController!{% endblock %}

{% block body %}

    <script type="text/javascript">

        /***
         * the role of this function is to deserialize the entreprise list,
         * filter it by categorie
         * and generate html element with entreprise element
         * @param idCategorie
         */

        function filterByCategorie(idCategorie){
            var obj ={{ entreprises|json_encode|raw }};
            var myObject = eval('(' + obj + ')');//to deserialize entreprises

            var entrepriseslisthtml = document.getElementById('listEntreprisesFiltered');
            entrepriseslisthtml.innerHTML = ""; //to empty the element listEntreprisesFiltered

            myObject.forEach((entreprise)=>{
                var entrepriseElement = document.createElement("entreprise");
                if(entreprise['categorie']['id']===idCategorie){ //if the entreprise categorie id matches idCategorie entered in parameters, the element listEntreprisesFiltered is fulfilled
                    console.log(entreprise);
                    var entrepriseNom = document.createElement("p");
                    var entrepriseNomtext = document.createTextNode(entreprise['nom']);
                    entrepriseNom.appendChild(entrepriseNomtext);
                    entrepriseElement.appendChild(entrepriseNom);

                    var shortDescription = document.createElement("p");
                    var shortDescriptiontext = document.createTextNode(entreprise['shortdescription']);
                    shortDescription.appendChild(shortDescriptiontext);
                    entrepriseElement.appendChild(shortDescription);

                    var adresse = document.createElement("p");
                    var ruetext = document.createTextNode(entreprise['rue']+" ");
                    var codepostaltext = document.createTextNode(entreprise['codepostal']+" ");
                    var villetext = document.createTextNode(entreprise['ville']+" ");
                    adresse.appendChild(ruetext);
                    adresse.appendChild(codepostaltext);
                    adresse.appendChild(villetext);
                    entrepriseElement.appendChild(adresse);

                    var telephone = document.createElement("p");
                    var telephonetext = document.createTextNode(entreprise['telephone']);
                    telephone.appendChild(telephonetext);
                    entrepriseElement.appendChild(telephone);

                    var mail = document.createElement("p");
                    var mailtext = document.createTextNode(entreprise['email']);
                    mail.appendChild(mailtext);
                    entrepriseElement.appendChild(mail);

                    var siteweb = document.createElement("p");
                    var sitewebtext = document.createTextNode(entreprise['website']);
                    siteweb.appendChild(sitewebtext);
                    entrepriseElement.appendChild(siteweb);

                    var categorieNom = document.createElement("p");
                    var categorieNomtext = document.createTextNode(entreprise['categorie']['nom']);
                    categorieNom.appendChild(categorieNomtext);
                    entrepriseElement.appendChild(categorieNom);



                }

                entrepriseslisthtml.appendChild(entrepriseElement);
                var tag2 = document.createElement("p");
                var tag3 = document.createElement("p");
                var tag4 = document.createElement("p");
                var tag5 = document.createElement("p");
                var tag6 = document.createElement("p");


            })



            //console.log(myObject[0]['categorie']);//for the First Element
        }



    </script>


    <style>
        .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
        .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
    </style>

    <?php echo(entreprises) ?>

    <div class="input-group searchbar">
        <div class="input-group-button">
            <button class="button search"><svg width="100" height="100" viewBox="0 0 100 100">
                    <path fill="#FFF" fill-rule="evenodd" d="M42.117,12.246 C50.1209,12.246 57.797,15.4257 63.453,21.0858 C69.1132,26.742 72.2928,34.4178 72.2928,42.4218 C72.2928,50.4258 69.1131,58.1018 63.453,63.7578 C57.7968,69.418 50.121,72.5976 42.117,72.5976 C34.1131,72.5976 26.437,69.4179 20.781,63.7578 C15.1208,58.1016 11.9412,50.4258 11.9412,42.4218 C11.9412,34.4178 15.1209,26.7418 20.781,21.0858 C26.4372,15.4256 34.113,12.246 42.117,12.246 L42.117,12.246 Z M76.0828827,67.3362833 C82.3527829,58.7859894 85.2617455,48.0434678 83.9173,37.22271 C82.0618,22.28871 72.3743,9.47671 58.5153,3.61771 L58.51139,3.61771 C53.32389,1.41851 47.74139,0.28961 42.10539,0.29741 L42.117,0.305 C29.058,0.30891 16.742,6.3675 8.769001,16.707 C0.7924008,27.047 -1.933999,40.5 1.382301,53.129 C4.698701,65.758 13.6833,76.137 25.7103,81.223 L25.7103,81.22691 C39.5733,87.08631 55.5113,85.10191 67.5153,76.02771 C67.5852345,75.9748392 67.6549736,75.9217748 67.724517,75.8685177 L91.555,99.6990032 L100.0003,91.253703 L76.0828827,67.3362833 Z"/>
                </svg>
            </button>
        </div>
        <input class="input-field search-field" type="search" placeholder="Search for anything..." />
    </div>


    <div class="row align-center">
        <script type="text/javascript">

            function galleryPhoto(){
                $('.sim-thumb').on('click', function() {
                    $('#main-product-image').attr('src', $(this).data('image'));
                })
            }

        </script>
        <div class="product-image-gallery">
            <img class="pdp-product-image" id="main-product-image" src="images/pc.jpg" alt="">
            <br>
            <ul class="menu product-thumbs align-center">
                <li> <a class="sim-thumb" data-image="images/pc.jpg"><img src="images/pc.jpg" alt=""></a> </li>
                <li> <a class="sim-thumb" data-image="images/laptop-336373_1920.jpg"><img src="images/laptop-336373_1920.jpg" alt=""></a> </li>
                <li> <a class="sim-thumb" data-image="images/1logo_bruz_up_noir_transpa.png"><img src="images/1logo_bruz_up_noir_transpa.png" alt=""></a> </li>
            </ul>
        </div>
    </div>




    <div class="actu-asso">
        <p name="actu-asso" ondrop="" > Actualité de l'asso : <br> Quelques mots du bureau de Bruz'UP pour vous présenter la dynamique commerçante et artisane Bruzoise 💪❤...

            ... Mais aussi vous remercier de votre soutien, de ce que chacun de vous avez créé, tout au long de cette année incroyable, autour des commerces et des commerçants 👌

            Pas mal de bas mais aussi beaucoup de hauts ... vous avez un ❤ gros comme ça !!! Une sacrée aventure humaine !

            A partager sans modération 🙂

            🌿Merci au Crédit Agricole et plus particulièrement Sophie Lizé ainsi qu'à Renan, étudiant à l'école d'audiovisuel de Ker Lann pour la réalisation de ce film🌿</p>
    </div>
    <div class="categories">
        <div class="rowCategores row align-center">
            <button type="button" class="button" onclick="filterByCategorie(1)">Culture et Loisirs</button>
            <button type="button" class="button" onclick="filterByCategorie(2)">Alimentation</button>
            <button type="button" class="button" onclick="filterByCategorie(3)">Beaute et sante</button>
            <button type="button" class="button" onclick="filterByCategorie(4)">Hotellerie</button>
            <button type="button" class="button" onclick="filterByCategorie(5)">Shopping</button>
            <button type="button" class="button" onclick="filterByCategorie(6)">Restaurant</button>
            <button type="button" class="button" onclick="filterByCategorie(7)">Services</button>
        </div>



    </div>

    <div class="rowCategores row align-center" id="listEntreprisesFiltered">


        {#    {% for e in entreprises %}#}

{#            <ul>#}
{#                <li>{{ e.id }}</li>#}
{#                <li>{{ e.nom }}</li>#}
{#                <li>{{ e.rue }}</li>#}
{#                <li>{{ e.codepostal }}</li>#}
{#                <li>{{ e.ville }}</li>#}
{#                <li>{{ e.telephone }}</li>#}
{#                <li>{{ e.siteweb }}</li>#}
{#                <li>{{ e.longdescription }}</li>#}
{#                <li>{{ e.shortdescription }}</li>#}
{#                <li>{{ e.email }}</li>#}
{#                <li>{{ e.user }}</li>#}
{#                <li>{{ e.categorie }}</li>#}
{#            </ul>#}


{#    {% endfor %}#}
    </div>


{% endblock %}


