{% extends 'base.html.twig' %}

{% block title %}Welcome User{% endblock %}

{% block body%}
    <h1>Mes entreprises</h1>

    <table class="table">
        <thead>
            <tr>
                <th>nom</th>
                <th>rue</th>
                <th>codepostal</th>
                <th>ville</th>
                <th>telephone</th>
                <th>siteweb</th>
                <th>longdescription</th>
                <th>shortdescription</th>
                <th>categorie</th>
                <th>email</th>
            </tr>
        </thead>
        <tbody>
        {% for entreprise in entreprises %}
            <tr>
                <td>{{ entreprise.nom }}</td>
                <td>{{ entreprise.rue }}</td>
                <td>{{ entreprise.codepostal }}</td>
                <td>{{ entreprise.ville }}</td>
                <td>{{ entreprise.telephone }}</td>
                <td>{{ entreprise.siteweb }}</td>
                <td>{{ entreprise.longdescription }}</td>
                <td>{{ entreprise.shortdescription }}</td>
                <td>{{ entreprise.categorie }}</td>
                <td>{{ entreprise.email }}</td>
                <td>
                    <a href="{{ path('entreprise_show', {'id': entreprise.id}) }}">show</a>
                    <a href="{{ path('entreprise_edit', {'id': entreprise.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="9">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('entreprise_new',{'username': app.user.username}) }}">Create new</a>
{% endblock %}